/* container */

.container {
    width: 1200px;
    height: calc(100vh - 100px);
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;
}

/* nav */

#navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #27272A;
    padding: 10px;
}

#navbar #title {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar #title a {
    font-size: 1.9em;
    font-family: 'Funnel Display';
    font-weight: bold;
    color: #fff;
    display: flex;
    padding: 10px;
}

#navbar #title a:hover {
    color: gray;
    transition: color .7s;
}

#navbar #title img {
    width: 40px;
    margin-left: 5px;
    margin-top: 1px;
}

#navbar #navegation {
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#navbar #navegation ul {
    display: flex;
}

#navbar #navegation ul li {
    margin-left: 15px;
}

#navbar #navegation ul li a {
    color: #fff;
    font-family: 'Funnel Display';
    font-size: 1.6em;
}

#navbar #navegation ul li a:hover {
    color: gray;
    transition: color .7s;
}
