section .container__content {
    width: 600px;
    height: 100vh - 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .container .container__content article {
    width: 100%;
    height: calc(100vh - 135px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 30px;
    padding: 40px;
}

section .container .container__content article h1 {
    font-family: var(--font-padraozin);
    font-size: 3.4em;
    color: var(--cor-cinzinha);
}

section .container .container__content article h2 {
    font-family: var(--font-padraozin);
    color: var(--cor-cinzinha);
    margin-top: 30px;
}

section .container .container__content article button {
    border: none;
    font-family: monospace;
    font-size: 25px;
    letter-spacing: -1px;
    padding: 12px 17px;
    margin-top: 20px;
    background-color: var(--cor-cinzinha);
    color: #FFF;
    cursor: pointer;
    border-radius: 14px;
}

section .container .container__content article button:hover {
    color: var(--cor-cinzinha);
    background-color: #FFF;
    transition: color 0.5s;
}

section .container .container__content article button a {
    color: #FFF;
}

section .container .container__content article button a:hover {
    color: var(--cor-cinzinha);
}

