@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Boldonse&family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,400;0,700;1,600&family=Roboto+Mono:ital,wght@0,600;1,600&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Boldonse&family=Bungee+Spice&family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,400;0,700;1,600&family=Roboto+Mono:ital,wght@0,600;1,600&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.border {
    border: 2px solid red;
}

body {
    background-color: #27272A;
}

