@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Boldonse&family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,400;0,700;1,600&family=Roboto+Mono:ital,wght@0,600;1,600&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Boldonse&family=Bungee+Spice&family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,400;0,700;1,600&family=Roboto+Mono:ital,wght@0,600;1,600&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #FFECCC;
    background-image: url(/aula003/src/wallpaper__main.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
}

.content {
    display: flex;
    justify-content: center;
    /* border: 1px solid red;    */
    margin-left: 49px;
    margin-top: 40px;
    
    background-color: rgba(0, 0, 0, 0.9);
    border-top-right-radius: 120px;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 20px;
    padding: 20px;
    color: #fff;
    max-height: 800px;
}

.main__content {
    max-width: 900px;
}

.main__content h1 {
    font-size: 2.5em;
    font-family: "Funnel Display", sans-serif;
    font-weight: bold;
    margin-top: 30px;
}

.main__content p {
    font-size: 1.2em;
    font-family: "Bungee Spice", sans-serif;
    margin-left: 50px;
    margin-top: 22px;
}

.main__content__btn {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.main__content__btn button {
    border: none;
    cursor: pointer;
    padding: 20px 20px;
    border-radius: 20px;
    background-color: #ffffff73;
    color: #1d1c1c;
    font-family: "Funnel Display", sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
}

.main__content__btn button:hover {
    background-color: #E77D00;
    color: #1d1c1c;
}



#dialog {
    max-width: 760px;
    display: flex;
    justify-content: space-around ;
    font-size: 1.3em;
    font-family: monospace;
    letter-spacing: -2px;
    padding: 20px 20px;    
}

#dialog p {
    font-size: 1.2em;
    font-family: monospace;
    letter-spacing: -2px;
}

#dialog .dialog__img {
    transform: rotate(-10deg);
}

#dialog small {
    position: absolute;
    top: 470px;
    left: 494px;
}

#challenge {
    margin-top: 20px;
    height: 330px;
    padding: 5px;
    display: grid;
    /* grid-template-rows: 50px 50px; */
    text-align: center;
}

.challenge__content h2{
    font-family: "Bungee Spice", sans-serif;
}

#challenge .challenge__content button {
    margin-top: 10px;
    margin-left: 25px;
    background-color: #ffffff73;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 15px;
    font-family: "Funnel Display", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
}

#challenge .challenge__content button:hover {
    color: #000;
    background-color: #E77D00;
}

#curiosity {
   margin-top: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 700px;
   max-width: 800px;
   border: 1px solid red;
}

.curiosity__content h2 {
    font-family: "Funnel Display", sans-serif;
    font-weight: bold;
    font-size: 1.8em;
}
